#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(ref=url_for('.'), rel='nofollow')= config.title + '.'
  br
  | Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by  
  a(rel='nofollow', target='_blank', href='https://github.com/smile-yan/smileyan') Smileyan
  br
  a(rel='nofollow', target='_blank', href='http://beian.miit.gov.cn/') 湘ICP备17012851号


